header {
    display: flex;
    flex-wrap: wrap;
}

header h3, a{
    width: 50%;
    color: rgb(134, 75, 177);
    text-decoration: none;
}

header p {
    width: 50%;
    display: flex;
    justify-content: end !important;
    
}
.hide {
    display: none;
}

#intro-section, #question-section, #initial-section, #highscore-section {
    text-align: center;
}

#question-section ul {
    list-style: none;
}

.choices {
    background-color: rgb(134, 75, 177);
    color: white;
    border-radius: 7px;
    border: 2px solid rgb(134, 75, 177) ;
    margin: 1px;
    
}

#highscore-sectionbtn, #go-back-btn, #start-btn, #clear-btn {
    background-color: rgb(134, 75, 177);
    color: white;
    border-radius: 7px;
    border: 2px solid rgb(134, 75, 177);
}